.nav-link {
    font-size: 14px !important;
    background: transparent !important;
    font-family: Lato, sans-serif !important;
    text-transform: capitalize !important;
}
.nav-link:hover {
    background: transparent !important;
    color: #4ff8ea !important;
    font-weight: bold !important;
}

.login-btn {
    border: 2px solid #4ff8ea !important;
    font-size: 10px !important;
}
.login-btn:hover {
    background: #4ff8ea !important;
}
.navbar {
   box-shadow: none !important
}

.navbar-brand {
   font-size: 25px !important
}

.navbar-toggler-icon {
   color: #fff !important
}